<ion-view title="TAB2">
	<ion-content>
		<!-- 数据库操作按钮 -->
		<!-- <div class="row row-wrap" style="padding: 0;margin-top: 24px;text-align: center;">
			<div class="col-50">
				<button class="button button-positive" style="width: 80%;" ng-click="vc.save()">保存</button>
			</div>
			<div class="col-50">
				<button class="button button-positive" style="width: 80%;" ng-click="vc.search()">查询</button>
			</div>
		</div> -->
		<div class="list">
			<a class="item item-avatar" ng-repeat="item in vo.msgList" ng-click="vc.goChartroom(item)">
				<img ng-src="{{item.headImg}}">
				<h2>{{item.nickName}}</h2>
				<p>{{item.msg}}</p>
			</a>
		</div>
	</ion-content>
</ion-view>
